
$border-radius: 50%;


.aboute-us {
	&__cont {
		padding: 15px 0px;
	}


	&__header {

		.h1 {
			margin: 15px 0px;
		}

		padding: 1% 4%;
		background-image: url(/images/texture_main_menu.png);
		text-align: center;
		color: white;
		font-size: 1.8em;
		line-height: 150%;
		box-shadow: 3px 3px 3px #444;
	}

	&__team {
		&-cont {
			margin: 15px 0px;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
	}

	&__teamate-cont {
	    width: 12%;
	    margin: 35px 1% 35px 9%;
	    min-width: 210px;
	}

	&__suggest {
		margin-top: 50px;
	}

}

.suggest {
	background-image: url(/images/texture_main_menu.png);
	text-align: center;
	font-size: 2.5em;
	color: white;
	display: inline-block;
	box-shadow: 3px 3px 3px #444;
	
	&__cont {
		text-align: center;
		margin: 15px 15px;
	}
	&__text {
		padding: 10px 25px;
	}

}


.teamate {
	&__cont {
	    background-color: #763e49;
	    min-height: 115px;
	    position: relative;
	    border-bottom-right-radius: $border-radius;
	    border-top-right-radius: $border-radius;
	}

    margin: 5px;
    border: 1px solid rgba(231,231,231,0.45);
    height: calc(100% - 10px);
    position: absolute;
    width: calc(100% - 10px);
    top: 0;
    left: 0;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;


    &__overflow {
    	width: 100%;
    	height: 100%;
    	position: relative;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }

    &__info {
		margin-left: 23%;
	    line-height: 135%;
	    color: #fff;
	    margin-right: 17%;
	    position: relative;
	    z-index: 1;
	    text-align: center;
    	
    	&-job {
    		font-size: 1.15em;
    	}
    	&-quote {
    		quotes: "\201e" "\201d";
    	}
    	&-quote:before {
    		 content: open-quote;
    	}
    	&-quote:after {
    		content: close-quote;
    	}
    }

    &__avatar {
	    width: 63%;
	    position: absolute;
	    top: -14%;
	    left: -46%;
    }


    &__nickname {
    	opacity: 0;
		position: absolute;
	    top: -50%;
	    left: -80%;
	    font-size: 2.5em;
	    color: #000;
	    text-shadow: 1px 1px 1px #fff;
	    transition: 1s;
	    width: 100%;
/*	    transform: rotate(-27deg);*/
    }

    &:hover {
    	.teamate__nickname {
    		opacity: 1;
    	}
    }
}


.teamate__nickname svg {
	width: 100%;
	height: 100%;
}

text {
/*    font-size: 2em;
    letter-spacing: 37px;*/
}


.teamate__shadow-overflow {
	position: absolute;
    width: 51%;
    right: -3%;
    top: -5px;
    height: 115px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    margin: 5px;
    background-color: #763E49;

    &-border {
		margin: 5px;
	    margin-left: 0px;
	    border: 1px solid #A98A90;
	    border-left: 0px;
	    height: 105px;
	    border-top-right-radius: 100%;
	    border-bottom-right-radius: 100%;
    }
}

.avatar {
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 3px black;
	
	
	&__overflow {
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;
		background-image: url(/images/avatars/noname.png);
	    background-size: 50%;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-color: white;
	}

	&__image {
		position: absolute;
	    width: 100%;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	}
}