$bg_img: url(/images/texture_main_menu.png);



.news-container {
	padding: 10px 0px;
}




.news {
	clear: both;
	margin: 10px;
}


.news-inner {
	margin-top: 15px;
	display: flex;
	
	&__img {
		flex: 1;
		img {
			max-width: 100%;
		}
	}


	&__cont {
		flex: 2;
		padding: 30px;
		text-align: left;
	}
}


.news-header {

	&__info {

	}

	&__avatar-square {
		float: right;
	}

	&__info {
		font-size: 0.7em;
	}

}


.info {
	display: flex;
	
	&__news-props {
		flex: 1;
	}

	&__name {
		flex: 2;
		margin-left: 25px;
		text-align: left;
		font-size: 1.5em;
	}
}







.avatar-square {

	&__img {
		&-cont {
			background-image: $bg_img;
			padding: 5px;
		}

		max-width: 100px;
	}
}